html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f5f5f5;
    color: #333;
    overflow-x: none;
}

::selection {
    background:green;
    color:lightblue;
}

/* ENCABEZADO HERO */

header {
    background: linear-gradient(135deg, #00bcd4, #0066ff);
    color: white;
    text-align: center;
    padding: 80px 20px;
    position: relative;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 1px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn, #btn-login, #btn-register, .credentials button {
    display: inline-block;
    background: white;
    color: #0066ff;
    padding: 10px 22px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    border:none;
    cursor: pointer;
}

.btn:hover, #btn-login:hover, #btn-register:hover, .credentials button:hover {
    background: #eaf2ff;
}

/* SECCIONES */

section {
    width: 85%;
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    cursor:pointer;
    color:#ffffff;
}

.credentials {
    margin:10px;
    padding:0;
}

/* CARDS */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

/* FOOTER */

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

/* OTHERS */

#admin-btn {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: solid 2px #000000;
    background-color:#efbf00;
    cursor:pointer;
    color: #000
}

input {
    background: white;
    color: #0066ff;
    padding: 10px 22px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    border:none;
    margin: 5px;
}

input:hover {
    box-shadow: 0 0 8px #00bcd4;
}

.login, .register {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#video {
    background-color: #000000;
    width: 100%;
    color: #ffffff;
    height: 500px;
}